.navbar {
  position: sticky;
  top: 80px;
  width: 100%;
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 998; 
  border-bottom: 1px solid #e0e0e0;
}

.navbar a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 600; 
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 8px;
}

.navbar a.active {
  background-color: #1a2c41;
  color: #fff;
}

.navbar a:not(.active):hover {
  background-color: #f0f0f0;
  color: #000;
}

.notifContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.notifSymbol {
  position: absolute;
  top: 0px;
  right: 5px;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  line-height: 22px;
  border: 2px solid white;
}
