footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background:black;
    padding: 30px 20px;
    font-size: 19.7px;
    /* color:rgba(49, 59, 70, 1); */
    color: white;
}

.footer-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.footer-grid-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-grid-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-grid-three{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-grid p{
    font-family: "Times", sans-serif;
}