/* Style untuk popup tambah produk */
#add-product-popup .popup_isi {
  color: white;
  max-width: 850px;
  width: 90%;
}

#add-product-popup .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#add-product-popup label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
  position: relative;
  left: -6%;
}

#add-product-popup input[type="text"],
#add-product-popup input[type="number"],
#add-product-popup textarea {
  width: 550px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 500px;
}

#new-product-title{
  position: relative;
  left: 40px;
}

#new-product-image{
  position: relative;
  left: 25px;
}

#new-product-thickness{
  position: relative;
  left: 20px;
}

#new-product-hole{
  position: relative;
  left:  -10px;
}

#new-product-size{
  position: relative;
  left: 110px;
}

#new-product-stock{
  position: relative;
  left: 100px;
}

#new-product-price {
  position: relative;
  left: 105px;
}

#add-product-popup textarea {
  min-height: 10px;
  resize: vertical;
}

#add-product-popup .submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#add-product-popup .submit-btn:hover {
  background-color: #45a049;
}

.popup_container{
  display: flex;
  justify-content: center;
  align-items: center ;
}

/* #new-product-title input{
  width: 1000px;
  position: relative;
  top: 100px;
} */