*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(255, 255, 255);
  background-size: cover;
  color: black;
}

main{
  text-align: center;
  margin-top: 100px;
} 

main h1{
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 30px;
}

.kotak_login{
  background: white;
  padding: 40px;
  width: 60%;
  max-width: 800px;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
  position: relative;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label{
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 5px;
}

input{
  padding: 15px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #555;
}

.baris_form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.baris_form label{
  flex: 1;
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 5px;
}

.baris_form input{
  flex: 2;
  padding: 15px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #555;
}


/* Button */
.btn-group{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 20px;
  width: 100%;
  /* width: calc(100% - 40px); */
  /* position: absolute;
  bottom: -80px;
  left: 20px; */
}

/* button{
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
} */

.btn-back{
  padding: 15px 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.btn-next{
  padding: 15px 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}