header {
    position: fixed;
    background: #333;
    color: white;
    top: 0;
    padding: 0px 20px;
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 80px;
    object-fit: cover;
}

.tagline {
    text-align: center;
    font-family: "Times", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
}

.login-btn {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}