.navbar {
    position: fixed;
    top: 80px;
    width: 100%;
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 3;
  }

  .navbar a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
    border-radius: 8px;
  }
  
  .navbar a:hover {
    color: #fff;
    background-color: rgba(49, 59, 70, 1);
    transition: opacity 0.3s ease;
  }
  
  .navbar a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 59, 70, 1);
    border-radius: 8px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
