body{
    margin: 0;
    padding: 0;
    background-color: #2f3943;
    font-family: 'Times New Roman', Times, serif;
}

.order{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    background-color: #2f3943;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 5px 20px rgba(0,0,0,0.8);
    margin: 60px auto;
    width: 60%;
    max-width: 900px;
    margin-top: 170px;
}

.order img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.detail_order{
    flex: 1;
}

.detail_order h2{
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.detail_order p{
    margin: 20px 0;
    font-size: 18px;
    letter-spacing: 2px;
}

.status_pesanan {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.status_pesanan button{
    background-color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 2.5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.status_pesanan button.active{
    background-color: wheat;
}

.detail_ukuran{
    display: flex;
    gap: 35px;
    margin: 25px 0;
    color: black;
}

.box{
    border: 1px solid white;
    background-color: white;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}