/* body{
  font-family: 'Times New Roman', Times, serif;
  background-color: #f4f1f1;
  margin: 0;
  padding: 0;
  text-align: center;
} */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} */

body {
  background-color: #f4f1f1;
  text-align: center;
  margin:0;
  padding: 0;
}

.tab_container{
  display: flex;
  justify-content: center;
  background-color: #eae6e6;
  padding: 20px 0;
  gap: 40px;
}

.tab a{
  display: inline-block;
  background-color: #d1cece;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 1.2rem;
  letter-spacing: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.tab{
  margin-top: 150px;
}

.tab a.active{
  background-color:#adabab ;
}


.grid_produk{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.daftar_produk{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  transition: all 0.3s ease;
}

.daftar_produk:hover h3{
  transform: scale(1.15);
}

.daftar_produk:hover p{
  transform: scale(1.1);
}

.daftar_produk h3, 
.daftar_produk p {
  transition: all 0.3s ease;
}

.produk{
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  overflow: hidden;
}

.produk:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.produk img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.produk:hover img{
  transform: scale(1.1);
}

.daftar_produk h3{
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.daftar_produk p{
  color: #333;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-top: -25px;
}

.add_product{
  border: 3px solid black;
  padding: 5px 20px;
  font-size: 1.9rem;
  cursor: pointer;
  transition: 0.3s ease;
  position: sticky;
  margin-left: 1270px;
  margin-bottom: 15px;
}

.add_product:hover{
  transform: scale(1.1);
}

.daftar_produk span{
  color: black;
}

.stock-warning {
  position: absolute; 
  top: 8px;
  right: 8px;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  line-height: 22px;
  pointer-events: none;
  z-index: 1;
}
