* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.table-wrap {
    margin-top: 140px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: start;
    background: rgba(49, 59, 70, 1);
    min-height: 100vh;
    width: 100%;
}

.table {
    width: 80%;
    border-collapse: collapse;
}

.table th {
    padding: 9px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    border-bottom: 1px solid #000;
}

.table td img {
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.table td {
    padding: 5px;
    text-align: left;
    border: 1px solid #000;
}